ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.banner img
{
    height: 750px;
    object-fit: cover;

    width: 100%;
}
.tour-img
{
    height: 170px;
    overflow: hidden;
}
.tour img
{
    transition: 1s;
}
.tour:hover img{
    transform: scale(1.3);
}
.tour{
    min-height: 320px;
}
.fbox
{
    position: relative;
    overflow: hidden;
}
.fbox img
{
    height: 250px;
}